<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401451695303-854rg6dpd4vu9cv1i7g93oktn42me73d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401451695303-854rg6dpd4vu9cv1i7g93oktn42me73d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401451695303-2hcj6dq7lfe3tgo614atg6mdv43ssjgm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVWKHFykEVJUZh8B0utevRb8JxlJX0MUI</string>
	<key>GCM_SENDER_ID</key>
	<string>401451695303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dliveweb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pard-dlive-b27d9</string>
	<key>STORAGE_BUCKET</key>
	<string>pard-dlive-b27d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401451695303:ios:8cec1ba837e4409db712e2</string>
	<key>DATABASE_URL</key>
	<string>https://pard-dlive-b27d9-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>